.pv-data-table {
    overflow: auto;
}
.pv-data-table-table {
    border: 1px solid rgba(0,0,0,0.3);
    border-collapse: collapse;
    width: auto;
    font-size: 12px;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
.pv-data-table-table thead th {
    background-color:rgba(120,120,120,0.3);
    border:1px solid rgba(40,40,40,1);
    text-align: center;
}
.pv-data-table-table tbody th {
    background-color:rgba(180,180,180,0.15);
    font-weight: normal;
    border:1px solid rgba(40,40,40,1);
}
.pv-data-table-table tbody td {
    border:1px solid rgba(40,40,40,1);
    padding-left: 0.2em;
}
.ntImage label {
    width:100%;
}
.ntImage label p {
    background-color:rgba(44, 62, 80, 0.4);
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.ntImage label p b {
    font-size:120%!important;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .ntImage label p {
        font-size:120%!important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .ntImage label p {
        font-size:120%!important;
    }
}

