/* Medium Devices, Desktops */
@media only screen and (max-width : 1199px) and (min-width : 992px) {
    .top-header {
        margin-left: -15px;
        margin-right: -15px;
    }
    .eeff-text-button {
        max-width: 24em;
    }
}
