@mixin linearGradientV($top, $bottom, $important:null){
    background: $top $important; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%) $important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)) $important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%) $important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%) $important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%) $important; /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%) $important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ) $important; /* IE6-9 */
}
@mixin linearGradientH($top, $bottom, $important:null){
    background: $top $important; /* Old browsers */
    background: -moz-linear-gradient(left,  $top 0%, $bottom 100%) $important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,$top), color-stop(100%,$bottom)) $important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  $top 0%,$bottom 100%) $important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  $top 0%,$bottom 100%) $important; /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  $top 0%,$bottom 100%) $important; /* IE10+ */
    background: linear-gradient(to right,  $top 0%,$bottom 100%) $important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 ) $important; /* IE6-9 */
}
